replicaCount: 2

image:
  repository: farahdiouani/python-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 8000
  nodePort: 30080

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

probes:
  readiness:
    path: /docs
    initialDelaySeconds: 5
    periodSeconds: 10
  liveness:
    path: /docs
    initialDelaySeconds: 10
    periodSeconds: 20
